@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #3a3a3a;
}

body {
    font-family: lato, sans-serif;
    font: weight 300px;
}

/* Headings and logo */
header
h1,
h2 {
    font-family: Playfair Display, sans-serif;
    color: #252525;
    letter-spacing: 4px;
}

#logo {
    float: Left;
    font-size: 2rem;
    margin-left: 3%;
}

/* Navigation Links*/
.menu {
    font-size: 110%;
    letter-spacing: 1px;
}

.menu,
#logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}


.cover-text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-text h1 {
    font-size: 40px;
    color: #fff;
    font-family: lato, sans-serif;
    letter-spacing: 2px;

}

.cover-text h2 {
    margin: 10px 0 4px;
    font-size: 16px;
    color: #fff;
    font-family: lato, sans-serif;
    letter-spacing: 1px;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/hero-image3.jpg) no-repeat center center;
    background-size: cover;


    /* Animantes zoom effects on */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create the level of zoom for the hero-image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fff;

}

#cover-text {
    font-size: 150%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 4px;
    width: 630px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    bottom: 250px;
    right: 350px;

    position: absolute;
}


nav .fa-times {
    display: none;
}

nav .fa-bars {
    display: none;
}


/* media queries */

@media(max-width:825px) {
    .cover-text h1 {
        font-size: 30px;
    }

    .menu li {
        display: block;
    }

    .menu {
        position: absolute;
        background-color: #ffcb22e7;
        height: 100vh;
        width: 150px;
        top: 0;
         right: -150px; 
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    }

    nav .fa-times {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    nav .fa-bars {
        display: block;
        margin: 10px;
        text-align: right;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        right: 1%;
        top: 3%;
    }
}

/* mission section*/
.mission {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-bottom: 60px;
}

.mission > p {
    text-align: center;
}

.mission h1 {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.mission p {
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.mission-column {
    flex-basis: 32%;
    background: #f7cd46;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.mission-column h3 {
    text-align: center;
    font-weight: 600px;
    margin: 10px 0;
}

.mission-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width:825px) {
    .row {
        flex-direction: column;
    }
}

/* Resources*/
.resources {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.resources-column {
     flex-basis: 20%;
    height: 40vh;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:center;
    position: relative;
    overflow:initial; 
    
}


.resources h1 {
    font-family: Lato, sans-serif;
   
}

.resources-column img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.resources-column p {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
}

.resources-column h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(228, 196, 52, 0.685)
}

.layer h3 {
    
width: 100%;
background-color: #f7cd46;
font-weight: 600;
color:#252525;
font-size: 26px;
bottom:0;
left: 50%;
transform: translateX(-50%);
position: absolute;
opacity: 0;
transition: 0.5s;

}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*footer*/

.footer {
    width:100;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
margin-bottom: 25px;
margin-top: 20px;
font-weight: 600;
}


.icons .fab {
   color: #eec02a;
   margin: 0 13px;
   cursor: pointer;
   padding: 18px 0;
   font-size: 120%;
}

.icons > li {
    display: inline;
}

.icons li a{
  text-decoration: none;
}

/* About Cover image*/
#about-image{
height: 600px;
width: 100%;
background: url(../images/hero-image3.jpg) no-repeat center center;
background-size: cover;
text-align: center;
color:#fff; 
}

.about-us {
    width: 80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-column{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-column h1 {
padding-top:0 ;
}

.about-column p {
    padding: 15px 0  25px;
    }