@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #3a3a3a;
}

body {
    font-family: lato, sans-serif;
    font: weight 300px;
}

/* Headings and logo */

h1,
h2 {
    font-family: Playfair Display, sans-serif;
    color: #252525;
    letter-spacing: 4px;
}

#logo {
    float: Left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Links*/
.menu {
    font-size: 110%;
    letter-spacing: 1px;
}

.menu,
#logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

}


.cover-text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-text h1 {
    font-size: 40px;
    color: #fff;
    font-family: lato, sans-serif;
    letter-spacing: 2px;

}

.cover-text h2 {
    margin: 10px 0 4px;
    font-size: 16px;
    color: #fff;
    font-family: lato, sans-serif;
    letter-spacing: 1px;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/hero-image3.jpg) no-repeat center center;
    background-size: cover;


    /* Animantes zoom effects on */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create the level of zoom for the hero-image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #fff;

}

#cover-text {
    font-size: 150%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 4px;
    width: 630px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    bottom: 250px;
    right: 350px;

    position: absolute;
}

/* Motivate-section*/

#motiviate-section {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;

}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

#beginning {
    text-align: center;
    padding-bottom: 50px;
}

/* media queries */

@media(max-width :800px) {
    .cover-text h1 {
        font-size: 30px;
    }

    .menu li{
        display:block;
    } 

    .menu{
        position: absolute;
        background-color:#ffcb22e7;
        height: 100vh;
        width: 150px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}